img {
  max-width: 100%;
}

.img-fluid {
  object-fit: cover;
  object-position: center;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col--1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col--2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col--3 {
  flex: 0 0 auto;
  width: 25%;
}

.col--4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col--5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col--6 {
  flex: 0 0 auto;
  width: 50%;
}

.col--7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col--8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col--9 {
  flex: 0 0 auto;
  width: 75%;
}

.col--10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col--11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col--12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col__sm--1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col__sm--2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col__sm--3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col__sm--4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col__sm--5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col__sm--6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col__sm--7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col__sm--8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col__sm--9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col__sm--10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col__sm--11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col__sm--12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-inline {
    display: inline;
  }

  .d-sm-inline-block {
    display: inline-block;
  }

  .d-sm-none {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col__md--1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col__md--2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col__md--3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col__md--4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col__md--5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col__md--6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col__md--7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col__md--8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col__md--9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col__md--10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col__md--11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col__md--12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .d-md-block {
    display: block;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-inline-block {
    display: inline-block;
  }

  .d-md-none {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col__lg--1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col__lg--2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col__lg--3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col__lg--4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col__lg--5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col__lg--6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col__lg--7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col__lg--8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col__lg--9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col__lg--10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col__lg--11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col__lg--12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-inline {
    display: inline;
  }

  .d-lg-inline-block {
    display: inline-block;
  }

  .d-lg-none {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .col__xl--1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col__xl--2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col__xl--3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col__xl--4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col__xl--5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col__xl--6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col__xl--7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col__xl--8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col__xl--9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col__xl--10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col__xl--11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col__xl--12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-inline {
    display: inline;
  }

  .d-xl-inline-block {
    display: inline-block;
  }

  .d-xl-none {
    display: none;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }

  .col__xxl--1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col__xxl--2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col__xxl--3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col__xxl--4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col__xxl--5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col__xxl--6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col__xxl--7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col__xxl--8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col__xxl--9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col__xxl--10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col__xxl--11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col__xxl--12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .d-xxl-block {
    display: block;
  }

  .d-xxl-inline {
    display: inline;
  }

  .d-xxl-inline-block {
    display: inline-block;
  }

  .d-xxl-none {
    display: none;
  }
}
